# Python cache and metadata directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment directories
lsmsvenv/
venv/
env/
/.virtualenv/

# Poetry specific
.venv/

# Others
.DS_Store
.idea/
.vscode/
*.swp

# Python packaging 
*.egg-info/
/build/
/site/
/poetry.lock
# Mypy cache
.mypy_cache/

# Ignore contents of "dist" directory but keep the directory itself
dist/*
!dist/.gitkeep

# Other DVC credentials and cache directories
# Ignore all .dvc directories
**/.dvc/
.dvc/cache/
.dvc/tmp/
.dvc/plots/

# Except! Don't ignore specific files within lsms_library/countries/.dvc/
!lsms_library/countries/.dvc/config
!lsms_library/countries/.dvc/s3_reader_creds.gpg
!lsms_library/countries/.dvc/s3_config

# Ignore data file extensions
*.parquet
*.dta
*.DTA
*.csv
*.CSV
*.sav
*.SAV
*.dat
*.DAT
*.DCT
*.FMT
*.SSP
*.TXT
*.var
*.VAR
*.WK1
*.zip
*.ZIP

# Ignore all files but .gitkeep in lsms_library/countries/*/var/
lsms_library/countries/*/var/*
!lsms_library/countries/*/var/.gitkeep

# Ignore particular files involving credentials
/Uganda/_/compare_unit_labels.py
/Uganda/_/unitlabels.csv

# Other ignored patterns
